body {
}

.pf-demo-body {
  padding-top: 125px;
}

.example-page-container.container-fluid {
  position: fixed;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  padding-top: 15px;
}
